table {
    border: solid 1px #000000;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px "Segoe UI",Arial, sans-serif;
}
th {
    background-color: #000000;
    border: solid 1px #000000;
    color: #ffffff;
    padding: 10px;
    text-align: left;
}
td {
    border: solid 1px #000000;
    color: #333;
    padding: 10px;
}
tr:nth-child(odd) {
    background: #eee;
}
