body {
    font: normal normal 13px "Segoe UI",Arial, sans-serif;
}
h1 {
    color:#333;
    font-size:18px;
}
table {
    border: solid 1px #000000;
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    background-color: #000000;
    border: solid 1px #000000;
    color: #ffffff;
    padding: 10px;
    text-align: left;
}
td {
    border: solid 1px #000000;
    color: #444;
    padding: 10px;
}
tr:nth-child(odd) {
    background: #eee;
}
